<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Stronka</title>
  <!-- BOOTSTRAP 5.0 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <!-- BOOTSTRAP JS BUNDLE -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="/css/master.css">
  <link rel="stylesheet" href="/css/login-page.css">
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/c836a41ba3.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img class="navbar-logo" src="/images/logo-white.png"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Strona Główna</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/news">Wiadomości</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cryptos">Kryptowaluty</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/prices">Ceny</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="main">
        <div class="form-box">
            <form action="/login-page" method="post">
                <div class="mb-3">
                  <label class="form-label">Login</label>
                  <input name="username" type="text" class="form-control">
                </div>
                <!-- <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div> -->
                <button type="submit" class="btn btn-dark">Log In</button>
            </form>
        </div>
    </div>
<%- include('../partials/footer'); -%>