<!-- footer -->
<footer class="white-section padding-50" id="footer">

  <div class="row footer-row">
    <div class="col-lg-3 col-md-3">
      <a href="https://www.twitter.com/"><i class="fab fa-twitter fa-2x footer-icon"></i></a>
    </div>
    <div class="col-lg-3 col-md-3">
      <a href="https://www.facebook.com/"><i class="fab fa-facebook-f fa-2x footer-icon"></i></a>
    </div>
    <div class="col-lg-3 col-md-3">
      <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x footer-icon"></i></a>
    </div>
    <div class="col-lg-3 col-md-3">
      <a href="mailto:kryptoknowledge@gmail.com"><i class="far fa-envelope fa-2x footer-icon"></i></a>
    </div>

  </div>

  <p>© Copyright 2021 CryptoKnowledge</p>
</footer>
</body>

</html>
