<%- include('partials/panel-header'); -%>
<h1 class="main-h1"> Nowy Artykuł </h1>

<form action="/compose-news" method="post">
  <div class="compose-form" action="index.html" method="post">
    <label>Autor</label>
    <input class="form-control" placeholder="Imie i nazwisko autora" type="text" name="articleAuthor">
    <label>Tytuł</label>
    <input class="form-control" placeholder="Tytuł artykułu" type="text" name="articleName">
    <label>Treść</label>
    <textarea class="form-control" placeholder="Napisz treść artukułu" name="articleContent" style="height: 300px;"></textarea>
    <label>Zdjęcie</label>
    <input class="form-control" placeholder="Wklej link do fotografii" type="text" name="articlePhoto">
    <label>Data</label>
    <input class="form-control" placeholder="Wpisz datę" type="text" name="articleDate">
    <p>
  </div>
    <button type="submit" name="button" class="btn btn-primary">Zapisz i opublikuj</button>
</form>

<form class="" action="/panel" method="get">
  <button type="submit" name="button" class="btn btn-primary">Wróć do panelu</button>
</form>

<%- include('partials/footer'); -%>
