<%- include('partials/header'); -%>
<div class="prices-container">
  <h1>Ceny kryptowaut</h1>
  <h2>Funkcjonalność pojawi się wkrótce</h2>
  <form class="" action="/" method="get">
    <button type="submit" class="btn btn-outline-secondary btn-return">Strona główna</button>
  </form>
</div>


<%- include('partials/footer'); -%>
