/* MAIN */

body{
  font-family:' Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family:' Montserrat', sans-serif;
  font-weight: 300;
}

p{
  font-family:' Montserrat', sans-serif;
  font-weight: 300;
}

.main-h1{
  padding: 25px;
  font-size: 3rem;
}

.main-p{
  font-size: 1.5rem;
}

.navbar-logo{
  width: 150px;
  height: auto;
}

.nav-link{
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.navbar{
  padding: 10px 50px;
  background-color: blue;
}

.padding-50{
  padding: 50px 50px;
  height: auto;
  width: 100%;
}

.options-padding{
  padding-bottom:30px;
}

#overview{
  background-color: #eeeeee;
}

.padding-overview{
  padding: 100px 75px;
}

.title-heading{
  padding-top: 35px;
}

.big-logo{
  width: 500px;
  height: auto;
}

#slider{

}

.carousel-item{
  padding: 25px 25px;
}

#options{

}

.options{
  background-color: #393e46;
  color: #eeeeee;
  padding: 100px 75px;
}

.options-h1{
  padding-bottom: 50px;
}

.options p{
  height: 100px;
}

.newsletter{
  padding: 75px 75px;
  background-color: #eeeeee;
}

#footer{
    background-color: #393e46;
    color: white;
    width:100%;
    bottom: 0;
  }

.footer-row{
  width: 200px;
  margin: auto;
}

.footer-icon{
  color: #eeeeee;
}

.page{
  min-height: 675px;
}

/* Placeholder */

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

/* OVERVIEW */

.overview-div{
  padding:75px 150px;
  text-align: justify;
  min-height: 490px;
}

.overview-top{
  text-align: center;
  padding: 25px;
}

.overview-h1{
  font-size: 3rem;
}

.overview-p{
  font-size: 1.5rem;
}

.crypto-icon{
  width: 50px;
  height: 50px;
}

/* NEWS */
.news-div{
  padding:75px 150px;
  text-align: justify;
}

.news-heading{
  text-align: left;
}

.news-img-div{
  text-align:  right;
}

.news-img{
  border-radius: 20px;
  height: 190px;
}


.news-p{
  padding-top: 25px;
  font-size: 1.5rem;
}

.btn-return{
  width: 150px;
  margin: 5px;
}

.prices-container{
  height: 500px;
}
