
.content{
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 15px;
}

.overv{
  padding: 15px;
  border: 15px solid #393e46;
  border-radius: 15px;
  margin: 15px;
}

.compose-form{
  padding: 15px 50px;
}

.card{
  margin: 15px 0;
}
.btn{
  width: 150px;
  margin: 5px;
  display: inline-block;
}

.btn-warning{
  color: white;
  width: 250px;
}

.btn-warning:hover{
  color: white;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .album{
    height: auto;
  }

  .col{
    width: 100%;
  }

  #footer{
    margin-top: 10px;
  }
}
